body{
text-align: center;
align-items: center;
background: lightblue;

}
.container{
 position: fixed;
 width: 591px;
 height: 334px;
 border: 1px solid black;




}
.player_1{
  z-index: 2;
  position: absolute;
  width: 150px;
  align-content: center;
  margin-top: 30px;




}
.player_2{
  width: 150px;
  z-index: 3;
  position: absolute;
  align-content: center;
  margin-top: 30px;


}
.flag_waver{
align-content: right;
/*margin set to get the turtle at aprox where racers end */
margin-left:70%;

}
img{
  max-width:100%;
  max-height:100%;

}
